<p id="notice"><%= notice %></p>

<h1><%= @board.name %> Board</h1>

<ul>
<% @posts.each do |post| %>
	<li>
		<div class="well">
			<p><%= post.content %></p>
			<p><%= post.user.name %></p>
		</p>
	</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
<%= form_tag(new_post_path, method: "get") do %>
	<%= hidden_field_tag(:board_id, @board.id) %>
	<%= submit_tag("Post New Comment") %>
<% end %>